*{
    margin: 0;
    padding: 0;
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    */
}

body {
    background: url(images/image06.jpg);
    background-repeat: no-repeat;    
    background-position: center center;
    height: 720px;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}


.navegacion{
    width: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.7;
    text-align: center;
    margin: auto;
    margin-top: 0;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    display: inline-block;
}

.menu >li >a{
    display: block;
    padding: 25px 50px;
    color: #ffffff;
    font-family: "open sans";
    text-decoration: none;
}

.menu li a:hover{
    color: #ffffff;
    transition: all .4s;
    font-weight: bold;
}

.submenu {
    position: absolute;
    background: #333333;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: "Open sans";
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.footer{
    background: rgb(0, 0, 0);
    align-self: flex-end;
    opacity: 0.7;
    width: 100%;
    text-align: center;
}

.desarrolladoras > li{
    display: inline-block;
}

.desarrolladoras >li >a{
    display: block;
    padding: 25px 50px;
    color: #ffffff;
    font-family: "open sans";
    text-decoration: none;
}

.grid {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-auto-rows: auto;
}

.grid div {
    background: #a2dbe9;
    padding: 1em;
    border-radius: 15px;
}

.grid div:hover {
    border: 5px solid #67ec32;
}

