* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #08121b;
  background-repeat: no-repeat;
  background-position: center center;
  height: 720px;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 100px;
  width: 400px;
  margin: 0 0 0 20px;
}

header {
  background-color: #adff2f;
  /*max-width: 900px;*/
  font-size: 20px;
  margin-top: 0;
  width: 100%;
  height: 90px;
}

.menuHorizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  float: right;
  margin: 10px 60px 0 0;
  font-size: 25px;

}

.menuHorizontal > li {
  padding: 25px 30px 30px 30px;
  color: white;
  text-decoration: none;
}

.menuHorizontal > li:hover {
  background-color: #008b8b;
}

.menuVertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 150px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px 5px 5px 5px;
}

.menuHorizontal li:hover .menuVertical {
  display: block;
}

.menuVertical li:hover {
  background-color: lightblue;
}

.menuVertical li a {
  color: white;
  padding: 5px 5px 5px 5px;
}

section {
  color: #ffffff;
}

.filas {
  color: #6bffff;
  margin-left: 18px;
}

.filaTarjetas01 {
  width: 100%;
  object-fit: contain;
  max-height: 180px;
  margin-right: 10px;
  transition: transform 450ms;
}

.filaTarjetas01:hover {
  transform: scale(1.2);
}

.filasTarjetas {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.filasTarjetas::-webkit-scrollbar {
  display: none;
}

.footer {
  background: rgb(0, 0, 0);
  align-self: flex-end;
  opacity: 0.7;
  width: 100%;
  text-align: center;
}

.desarrolladoras > li {
  display: inline-block;
}

.desarrolladoras > li > a {
  display: block;
  padding: 25px 50px;
  color: #ffffff;
  font-family: "open sans";
  text-decoration: none;
}

.inicioBanner {
  background-image: url(images/image13.jpg);
  background-size: cover;
  background-position: center center;
  width: 1535px;
  height: 530px;
  object-fit: contain;
}

.contenidoInicioBanner {
  margin-left: 30px;
  padding-top: 140px;
  height: 267px;
}

.header {
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(15, 177, 69, 0.61),
    #adff2f
  );
}

.desvanecimientoInicioBanner {
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

#verTodos {
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin:auto;
  z-index: 1;
  flex-wrap: wrap;
  width:88%;
}

.card {
  background-color: rgba(195, 43, 226, 0.856);
  height: 455px;
  width: 360px;
  margin: 0 20px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;  
}

.card .img {
  height: 70%;
  width: 85%;
}

.card .img img{
  height: 100%;
  width: 100%;

}

